In [1]:
import sqlite3
import pandas as pd

DB_PATH = "../data/housing.db"

conn = sqlite3.connect(DB_PATH)

housing = pd.read_sql_query(
    """
    SELECT
        b.block_id,
        b.longitude,
        b.latitude,
        s.housing_median_age,
        s.total_rooms,
        s.total_bedrooms,
        s.population,
        s.households,
        s.median_income,
        op.name AS ocean_proximity,
        pc.label AS price_class
    FROM block b
    JOIN block_housing_stats s
        ON s.block_id = b.block_id
    JOIN ocean_proximity op
        ON op.ocean_proximity_id = b.ocean_proximity_id
    JOIN price_class pc
        ON pc.price_class_id = s.price_class_id
    ORDER BY b.block_id
    """,
    conn
)

conn.close()

housing.head()

,block_id,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,price_class
0,0,-122.23,37.88,41.0,880,129.0,322,126,8.3252,NEAR BAY,HIGH
1,1,-122.22,37.86,21.0,7099,1106.0,2401,1138,8.3014,NEAR BAY,HIGH
2,2,-122.24,37.85,52.0,1467,190.0,496,177,7.2574,NEAR BAY,HIGH
3,3,-122.25,37.85,52.0,1274,235.0,558,219,5.6431,NEAR BAY,HIGH
4,4,-122.25,37.85,52.0,1627,280.0,565,259,3.8462,NEAR BAY,HIGH

In [2]:
housing["price_class"].value_counts()

price_class
LOW       6884
HIGH      6880
MEDIUM    6876
Name: count, dtype: int64

In [3]:
housing.shape

(20640, 11)