In [1]:
import sqlite3
import pandas as pd

DB_PATH = "../data/housing.db"

# Step 1: Load raw housing CSV (TEMPORARILY, before DB rebuild)
housing = pd.read_csv("../data/housing/housing.csv")

# Step 2: Create classification labels
housing["price_class"] = pd.qcut(
    housing["median_house_value"],
    q=3,
    labels=["LOW", "MEDIUM", "HIGH"]
)

print(housing["price_class"].value_counts())

housing.head()

price_class
LOW       6884
HIGH      6880
MEDIUM    6876
Name: count, dtype: int64

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,price_class
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,HIGH
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,HIGH
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,HIGH
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY,HIGH
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY,HIGH